.my-popup {
  &-content {
    margin: auto;
    background: rgb(255, 255, 255);
    max-height: calc(100vh - 80px);
    max-width: 80%;
    width: auto;
    height: auto;

    padding: 15px 30px 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    .close_button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      border-radius: 50%;
      align-self: flex-end;
      border: 1px solid #ccc;
    }
  }

  &-overlay {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7px);
    z-index: 1021 !important;
  }
}
